<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

        <a class="navbar-brand" routerLink="/home" routerLinkActive="active">NG Project Tracking Tool</a>

        <ul class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center nb-md-0">
            <li><a class="nav-link px-2 link-secondary" routerLink="/home" routerLinkActive="active">Dashboard</a></li>
            <li><a class="nav-link px-2 link-dark" routerLink="/projects" routerLinkActive="active">Progetti</a></li>
        </ul>

    </header>
</div>
